1. Write a Python Program to find sum of elements in list?

In [11]:
l = [2,4,1,5,6,7]

total = 0
for i in l:
  total +=i
print(total)

25

2. Write a Python Program to Multiply all numbers in the list?

In [12]:
l = [2,4,1,5,6,7]

mul= 1
for i in l:
  mul +=i
print(mul)

26

3. Write a Python Program to find smallest number in a list?

In [13]:
l = [2,0,1,1235,6,-7123]

minimum= l[0]

for i in l:
  if i < minimum:
    minimum = i
  print(minimum)

2
0
0
0
0
-7123

4. Write a Python Program to find largest number in a list?

In [14]:
l =[2,0,1,1235,6,-7123]

maximum = l[0]

for i in l:
  if i > maximum:
    maximum = i
print(maximum)

1235

5. Write a Python Program to find secon largest number in a list?

In [15]:
l = [2,0,1,1235,6,-7123]

l.sort(reverse= True)

print("second largest number:", l[1])

second largest number: 6