1. Write a Python Program to find sum of elements in list?

In [11]:
l = [2,4,1,5,6,7]

total = 0
for i in l:
  total +=i
print(total)

25

2. Write a Python Program to Multiply all numbers in the list?

In [12]:
l = [2,4,1,5,6,7]

mul= 1
for i in l:
  mul +=i
print(mul)

26

3. Write a Python Program to find smallest number in a list?

In [13]:
l = [2,0,1,1235,6,-7123]

minimum= l[0]

for i in l:
  if i < minimum:
    minimum = i
  print(minimum)

2
0
0
0
0
-7123

4. Write a Python Program to find largest number in a list?

In [14]:
l =[2,0,1,1235,6,-7123]

maximum = l[0]

for i in l:
  if i > maximum:
    maximum = i
print(maximum)

1235

5. Write a Python Program to find secon largest number in a list?

In [15]:
l = [2,0,1,1235,6,-7123]

l.sort(reverse= True)

print("second largest number:", l[1])

second largest number: 6

7. write a Python program to print even numbers in a list?

In [21]:
l = [2,0,1,1235,6,-7123,21,54,12,-23,-42]

[ i for i in l if i%2==0]

[2, 0, 6, 54, 12, -42]

8. write a Python Program to print odd numbers in a list?

In [22]:
l = [2,0,1,1235,6,-7123,21,54,12,-23,-42]

[ i for i in l if i%2==1]

[1, 1235, -7123, 21, -23]

9. Write a Python Program to Remove empty list form list?

In [26]:
l = [[],12,31,[1,2,-23],[1],[],[123.23],[],2,321]

result = []

for i in l:
  if type(i) == list:
      if len(i) !=0:
        result.append(i)
  else:
    result.append(i)

result

[12, 31, [1, 2, -23], [1], [123.23], 2, 321]

10. write a Python Program to cloning or copying a list?

In [27]:
list1 = [2,1,31,412,3,4667,[2,3,1]]

list2 =[]

for i in list1:
  list2.append(i)

print(list2)

[2, 1, 31, 412, 3, 4667, [2, 3, 1]]

11. write a Python Program to Count occurrences of an element in list?

In [30]:
l = [1,1,1,3,4,1,7,8,6,6,2,1]

def occurrences(lst, element):
  count= 0
  for i in lst:
    if i == element:
      count+= 1
      return count
    occurrences(1,1)